table{
    border:1px solid black;
    width:100%;
    background:grey;
}

td{
    border:1px solid black;  
    width:100%;
    background: white; 
}

thead, tfoot{
    background:black;
    color:white;
    width:100%;
}